/* @font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 100 900;
  src: url(../fonts/Inter.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
} */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 100 900;
  src: url(../fonts/Inter.woff2) format('woff2');
}

/* || Color scheme styles */
:root {
  --primary-color: #313131;
  --secondary-color: #1A1A1A;
  --font-color: #FFF;
  --bg-color: #1E1E1E;
  --heading-color: #FFF;
  --toggle-bg-color: #FFF;
  --toggle-circle-color: #282C34;
  --inactive-tab-color: #A9A9A9;
  --active-tab-line-color: #FFF;
  --item-bg-color: #2c2c2e;
  --diff-color-easy: #28a745;
  --diff-color-medium: #ffc107;
  --diff-color-hard: #dc3545;
  --timestamp-color: #8e8e93;
  --link-color: lightskyblue; 
}

[data-theme="light"] {
  --primary-color: #F0F0F0;
  --secondary-color: #FFF;
  --font-color: #000;
  --bg-color: #FFF;
  --heading-color: #292922;
  --toggle-bg-color: #000;
  --toggle-circle-color: #FFF;
  --inactive-tab-color: #7F7F7F;
  --active-tab-line-color: #000;
  --item-bg-color: #e4e4eb;
  --diff-color-easy: #28a745; /* Green for easy */
  --diff-color-medium: #ffc107; /* Yellow for medium */
  --diff-color-hard: #dc3545; /* Red for hard */
  --timestamp-color: #6c757d; /* Grey for timestamp */
  --link-color: blue;
}

/* Specific difficulty colors */
.easy {
    color: var(--diff-color-easy) !important;
}

.medium {
    color: var(--diff-color-medium) !important;
}

.hard {
    color: var(--diff-color-hard) !important;
}

.daily {
  color: lightskyblue !important;
}

/* || Main page styles */
body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
  color: var(--font-color);
  transition: background-color 0.3s, color 0.3s;
  min-width: 420px;
  min-height: 500px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: var(--primary-color);
}

.title {
  font-size: 18px;
  color: var(--heading-color);
  font-weight: 600;
}

.icon {
  width: 34px;
  height: 34px;
}

.content {
  padding: 20px;
  text-align: center;
}

.page {
  display: none;
}

.page.active {
  display: block;
}
/* || Toggle styles */
.toggle-container {
  display: flex;
  align-items: center;
}

#mode-toggle {
  display: none;
}

.toggle-label {
  width: 40px;
  height: 20px;
  background-color: var(--toggle-bg-color);
  border-radius: 10px;
  position: relative;
  cursor: pointer;
}

.toggle-label::after {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  width: 16px;
  height: 16px;
  background-color: var(--toggle-circle-color);
  border-radius: 50%;
  transition: transform 0.3s;
}

#mode-toggle:checked + .toggle-label::after {
  transform: translateX(20px);
}

/* || Tab bar styles */
.tab-bar {
  position: relative;
  display: flex;
  justify-content: center;
  background-color: var(--primary-color);
  border-bottom: 1px solid darkgray;
}

.tab {
  background: none;
  border: none;
  padding: 10px;
  cursor: pointer;
  color: var(--inactive-tab-color);
  font-size: 16px;
  font-weight: 500;
  position: relative;
}

.tab:hover {
  color: var(--font-color);
}

.tab.active {
  color: var(--font-color);
}

.tab-indicator {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100px; /* Default width */
  background-color: var(--active-tab-line-color);
  transition: all 0.3s ease; /* Smooth animation */
}

/* || Friend page styles */
#friend-username, #username, #profile-username {
  display: inline-block;
  box-sizing: border-box;
  border: 1px solid var(--primary-color);
  padding: 8px 12px;
  border-radius: 6px;
  background-color: var(--primary-color);
  color: var(--font-color);
  font-size: 12px;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#friend-username:focus, #username:focus, #profile-username:focus-visible {
  border-color: #28a745;
  box-shadow: 0 0 5px rgba(40, 167, 69, 0.5);
  outline: none;
}

.friends-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.friends-list li {
  color: white;
  padding: 12px 15px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
  transition: all 0.3s ease-in-out;
}


#add-friend-btn {
  background-color: #28a745;
  border: none;
  color: var(--font-color);
  font-size: large;
  /* font-weight: bold; */
  height: 30px;
  width: 30px;
  text-align: center;
  border-radius: 50%;
  display: inline-block;
  margin-left: 10px;
  transition: all 0.3s ease-in-out;
}

#edit-user-container {
  margin-bottom: 20px;
}

#profile-submit-btn {
  background-color: #28a745;
  border: none;
  color: var(--font-color);
  font-size: 12px;
  /* font-weight: bold; */
  padding: 5px 10px;
  text-align: center;
  border-radius: 10px;
  display: inline-block;
  margin-left: 10px;
  transition: all 0.3s ease-in-out;
}

#add-friend-btn:hover, #submit-username:hover, #profile-submit-btn:hover {
  background: #1e7e34;
  transform: scale(1.1);
}

#submit-username {
  background-color: #28a745;
  color: var(--font-color);
  /* font-weight: bold; */
  border: none;
  text-align: center;
  border-radius: 4px;
  display: inline-block;
  margin-left: 10px;
  padding: 5px;
  transition: all 0.3s ease-in-out;

}



.remove-btn {
  background-color: transparent;
  border: none;
  color: white;
  width: 28px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.remove-btn:hover {
  background-color: rgba(255, 255, 255, 0.1);
  transform: scale(1.1);
}

.remove-btn svg {
  width: 16px;
  height: 16px;
  stroke: #ccc;
  transition: stroke 0.3s ease-in-out;
}

.remove-btn:hover svg {
  stroke: #ff4d4d;
}


.input-container {
  display: flex;
  margin: auto;
  justify-content: center;
}

/* || Activity page styles */
.submission-list {
  list-style-type: none;
  padding: 0;
}

.submission {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--item-bg-color);
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
}

.submission-title,
.submission-user {
  margin: 0;
  color: var(--font-color);
}

.submission-diff,
.submission-timestamp {
  margin: 0;
  color: var(--font-color);
}

.submission-timestamp {
  color: var(--timestamp-color);
}

.submission-title {
  flex: 2;
}

.submission-user {
  flex: 1;
}

.submission-diff {
  flex: 1;
  text-align: right;
}

.submission-timestamp {
  flex: 1;
  text-align: right;
}

.submission-link {
  color: var(--link-color);
  text-decoration: none;
}

.submission-link:hover {
  text-decoration: underline;
}

/* || List styles */
ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--item-bg-color);
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
}

/* || Leaderboard page styles */
.profile-pic {
  flex: 1;
  text-align: left;
  max-width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
}

.stat-row {
  padding: 5px 10px;
}
.stat-row-title {
  flex: 1;
  text-align: left;
  padding-left: 10px;
  font-size: 12px;
  font-weight: 500;
}

.stat-row-solved {
  padding-right: 10px;
  font-size: 14px;
  font-weight: 500;
  color: var(--timestamp-color)
}

.leaderboard-tabs {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.leaderboard-tab {
  background: none;
  border: none;
  /* padding: 10px 20px; */
  cursor: pointer;
  color: var(--inactive-tab-color);
  font-size: 16px;
  font-weight: 500;
  position: relative;
  overflow: hidden;
  transition: color 0.3s, transform 0.3s;
}

.leaderboard-tab.active {
  color: var(--font-color);
}

.leaderboard-tab:hover {
  color: var(--font-color);
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.leaderboard-tab::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0;
  height: 3px;
  background-color: var(--active-tab-line-color);
  transition: width 0.3s ease, left 0.3s ease;
}

.leaderboard-tab.active::after {
  width: 100%;
  left: 0;
}
.leaderboard-tab {
  border-radius: 4px;
  padding: 10px 15px;
  margin: 0 5px;
  background-color: transparent;
}

.medal-icon {
  width: 40px; /* Adjust size as needed */
  height: 40px; /* Adjust size as needed */
  margin-right: 5px; /* Space between medal and username */
  vertical-align: middle; /* Align with text */
}

#my-chart {
  border-radius: 5px;
  background-color: var(--item-bg-color);
  padding: 5px 20px 20px;
}

#my-chart tbody th {
  color: white;
}

#my-chart tbody td {
  color: var(--font-color);
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  background-color: #edb100;
}

#my-chart tbody td:hover {
  background-color: #d39e00;
}

.loading-spinner {
  display: none; /* Initially hidden */
  width: 40px;
  height: 40px;
  border: 5px solid rgba(0, 0, 0, 0.1);
  border-left-color: #edb100;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin: 20px auto;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.tooltip {
  position: absolute;
  bottom: 120%; /* Positions above the icon */
  left: 50%;
  transform: translateX(-70%);
  background-color: rgb(10, 132, 255, 0.5);
  color: white;
  padding: 6px 10px;
  border-radius: 5px;
  font-size: 12px;
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease-in-out;
}

.solved-icon {
  position: relative; /* Needed for proper tooltip positioning */
  cursor: pointer;
}


